{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Animation pour l'apparition progressive des éléments */
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Application de l'animation fadeIn */
        .fade-in {
            animation: fadeIn 2s ease-out;
        }

        /* Fixer la navbar au-dessus des autres éléments */
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000; /* Assurer que la navbar reste au-dessus */
        }
    </style>
{% endblock %}

{% block content %}
	<div class="container mx-auto px-6 py-8">
		<h1 class="text-2xl font-bold mb-4">Politique de confidentialité</h1>
<style>
  /* Style pour les titres de niveau 2 */
  h2 {
    font-size: 1.25rem; /* Taille de texte plus grande */
    font-weight: 600; /* Gras pour plus d'impact */
    margin-top: 1rem; /* Espacement supérieur */
    margin-bottom: 0.5rem; /* Espacement inférieur */
    color: #333; /* Couleur du texte */
  }

  /* Style pour les paragraphes */
  p {
    font-size: 1rem; /* Taille de texte normale */
    line-height: 1.6; /* Espacement des lignes pour une lecture fluide */
    color: #555; /* Couleur de texte légèrement plus claire */
    margin-bottom: 1rem; /* Espacement entre les paragraphes */
  }

  /* Style pour les listes */
  ul {
    list-style-type: disc; /* Puces classiques */
    padding-left: 1.5rem; /* Espacement gauche pour les puces */
    margin-bottom: 1rem; /* Espacement sous la liste */
  }

  /* Style pour les éléments de liste */
  li {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 0.5rem; /* Espacement entre les éléments de liste */
  }

  /* Style général du texte */
  body {
    font-family: Arial, sans-serif; /* Police simple et lisible */
    margin: 0;
    padding: 0;
  }


  

  /* Style des blocs de contenu */
  .content {
    max-width: 800px; /* Largeur maximale du contenu */
    margin: 2rem auto; /* Centrer le contenu avec un espacement */
    padding: 2rem;
   
    border-radius: 8px; /* Coins arrondis */
  }
</style>
		<p>
			La société MESNIL BIEN ÊTRE, société par actions simplifiée unipersonnelle au capital de 2.000,00 euros, immatriculée au registre du commerce et des sociétés de Rouen sous le numéro 889 017 620 et dont le siège social se situe 120 route de Paris – 76240 Le Mesnil-Esnard, France (ci-après dénommée « MESNIL BIEN ÊTRE » et/ou l’« Éditeur »), en sa qualité de responsable du traitement des données à caractère personnel, attache une grande importance à la protection et au respect de la vie privée.
		</p>

		<p>
			La présente politique de confidentialité vise à informer, lors de la navigation sur le site internet disponible à l’adresse : www.joffrine.fr et www.joffrine.com (ci-après dénommé le « Site ») et/ou lors de l’utilisation de l’application mobile JOFFRINE (ci-après dénommée l’« Application »), toute personne utilisant le Site et/ou l’Application (ci-après dénommée les « Utilisateurs ») des pratiques de MESNIL BIEN ÊTRE concernant les conditions de la collecte, de l’utilisation et du partage des informations que les Utilisateurs sont amenés à fournir ainsi que leurs droits.
		</p>

		<p>
			Le Site et l’Application sont conformes aux normes françaises et européennes relative à la protection de la vie privée et des données personnelles et notamment à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi 2004-801 du 6 août 2004 et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
		</p>

		<h2>1. Responsable du traitement des données à caractère personnel collectées</h2>
		<p>Le responsable de traitement des données à caractère personnel est MESNIL BIEN ÊTRE.</p>

		<h2>2. Nature des données collectées</h2>
		<p>
			Les données collectées sur le Site dans le cadre de l'utilisation du Site et/ou sur l’Application dans le cadre de l’utilisation de l’Application, sont celles permettant à l'Éditeur d’identifier les Utilisateurs directement ou indirectement.
		</p>

		<ul>
			<li>Données d'état-civil, d'identité, d'identification comme le nom, le prénom, le pseudonyme, l’adresse email, la date de naissance ;</li>
			<li>Données relatives à la vie personnelle comme les habitudes de vie, la situation familiale à l’exclusion de toutes données dites sensibles ou dangereuses (par exemple les données médicales) ;</li>
			<li>Données de connexion comme l’adresse IP et des données de navigation comme les cookies.</li>
		</ul>

		<h2>3. Finalité des données personnelles collectées</h2>
		<p>
			3.1. Les données personnelles collectées sur le Site et/ou sur l’Application sont utilisées seulement pour et pendant l'exécution des services pour les finalités suivantes :
		</p>
		<ul>
			<li>Enregistrement et authentification de l’Utilisateur ;</li>
			<li>Permettre à MESNIL BIEN ÊTRE de préparer et de livrer les produits commandés à l’Utilisateur ;</li>
			<li>Permettre à MESNIL BIEN ÊTRE de contacter et/ou d’envoyer des messages à l’Utilisateur ;</li>
			<li>Permettre à MESNIL BIEN ÊTRE d’adresser des newsletters aux Utilisateurs ;</li>
			<li>Permettre aux Utilisateurs de bénéficier du programme de fidélité et de parrainage de MESNIL BIEN ÊTRE ;</li>
			<li>Gestion des avis des Utilisateurs sur des produits, services ou contenus.</li>
		</ul>

		<h2>4. Moment de la collecte</h2>
		<p>Les données collectées par MESNIL BIEN ÊTRE sont librement communiquées par les Utilisateurs.</p>

		<h2>5. Géolocalisation</h2>
		<p>
			5.1. Géolocalisation à des fins de fourniture des services. Les Utilisateurs sont informés que MESNIL BIEN ÊTRE collecte et traite les données de géolocalisation de l’Utilisateur afin de lui fournir ses services, notamment dans le but de déterminer sa position géographique en temps réel.
		</p>

		<h2>6. Consentement</h2>
		<p>
			La présente politique de confidentialité est systématiquement portée à la connaissance des Utilisateurs lors de leur inscription sur le Site et/ou sur l’Application. En effet, la création d’un compte implique l’acceptation expresse, pleine et entière par l’Utilisateur de la présente politique de confidentialité.
		</p>

		<h2>7. Destinataires des données à caractère personnel</h2>
		<p>Le destinataire des données à caractère personnel collectées sur le Site et/ou sur l’Application est en tout premier MESNIL BIEN ÊTRE.</p>

		<h2>8. Droits des Utilisateurs</h2>
		<p>
			Conformément au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données et à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978, modifiée par la loi 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés, l’Utilisateur dispose des droits suivants :
		</p>
		<ul>
			<li>Droit d’accès à ses données personnelles ;</li>
			<li>Droit de rectification de ses données personnelles ;</li>
			<li>Droit d’effacement de ses données personnelles ;</li>
			<li>Droit d’opposition à l’utilisation de ses données personnelles ;</li>
			<li>Droit de limitation de ses données ;</li>
			<li>Droit de portabilité de ses données.</li>
		</ul>

		<h2>9. Durée de conservation des données</h2>
		<p>
			9.1. Conservation des données pendant la durée de la relation contractuelle.
					    Les données à caractère personnel des Utilisateurs collectées ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle, sauf en ce qui concerne les données dont MESNIL BIEN ÊTRE aurait besoin de conserver à titre de preuve, pour des besoins juridiques, administratifs ou conformément à la législation en vigueur.
		</p>

		<h2>10. Liens</h2>
		<p>
			Sur le Site et/ou sur l’Application, les Utilisateurs pourront avoir accès à différents liens le dirigeant vers des sites tiers. MESNIL BIEN ÊTRE ne sera pas responsable pour les liens postés par les Utilisateurs ou les politiques de confidentialité de ces tiers.
		</p>

		<h2>11. Cookies</h2>
		<p>
			11.1. Finalité cookies. Les cookies utilisés par MESNIL BIEN ÊTRE permettent d’identifier les Utilisateurs, de reconnaître le navigateur de ces derniers lorsqu’ils se connectent au Site et/ou lorsqu’ils utilisent l’Application, d’enregistrer leurs fréquences d’accès et leurs préférences d’affichage du terminal des Utilisateurs.
		</p>

		<h2>12. Transfert des données personnelles à l'étranger</h2>
		<p>
			L'Éditeur transfère les données personnelles de ses Utilisateurs vers des pays reconnus comme offrant un niveau de protection équivalent. Cependant, si l'Éditeur transfère les données personnelles en dehors des pays reconnus par la CNIL, il s’engage à obtenir une autorisation de la CNIL pour procéder à ce transfert.
		</p>
	</div>
{% endblock %}
