
{% extends 'base.html.twig' %}

{% block title %}Nos Services - Joffrine Dehais{% endblock %}

{% block content %}
<section class="bg-white text-black font-serif leading-relaxed">
    <div class="max-w-7xl mx-auto px-6 py-12 mt-24">
        <div class="text-center mb-10">
            <h1 class="text-4xl md:text-5xl font-extrabold text-orange-500 mb-4">Nos Services</h1>
            <p class="text-lg md:text-xl text-gray-800">Découvrez nos prestations artistiques et marketing.</p>
        </div>
        

        <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-2">
            <!-- Service 1 -->
            <div class="space-y-4">
                <h2 class="text-2xl text-orange-500 font-semibold">Conseil en Marketing</h2>
                <p class="text-xl text-gray-800 mb-4">
                    Nous vous aidons à développer votre stratégie et à mettre en place des solutions créatives pour booster vos projets.
                </p>
                <a href="{{ path('demande_conseil') }}" class="px-8 py-3 text-lg font-semibold bg-orange-500 text-white rounded-full inline-block">Demander un conseil</a>
            </div>

            <!-- Service 2 -->
            <div class="space-y-4">
                <h2 class="text-2xl text-orange-500 font-semibold">Création d'œuvre sur mesure</h2>
                <p class="text-xl text-gray-800 mb-4">
                    Pour une œuvre totalement personnalisée, nous vous proposons des créations artistiques sur mesure.
                </p>
                <a href="{{ path('demande_creation') }}" class="px-8 py-3 text-lg font-semibold bg-orange-500 text-white rounded-full inline-block">Demander une création</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
