{% extends 'base.html.twig' %}

{% block content %}
    <h1>Merci pour votre commande !</h1>
    <p>Votre commande a été validée avec succès.</p>
    <a href="{{ path('app_cart') }}">Retourner au panier</a>
{% endblock %}
